body {
  background: linear-gradient(to right, #6d8682, #476064);
}

:root {
  --main-text-color: #484d47;
  --main-hr-color: #78938e;
  --hr-color: #464b47;
  scroll-behavior: smooth;
}

body > .container {
  background-color: #fdfdfd;
}

header {
  background-color: #FBFBFB;
  color: var(--main-text-color);
}

header .navbar-nav .nav-item {
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all ease 0.3s;
}

header .navbar-nav .nav-item:hover {
  border: 1px solid var(--main-text-color);
}

header .display-4 {
  font-weight: 600;
}

header .lead {
  text-transform: uppercase;
  font-weight: 400;
}

hr {
  border: none;
}

header hr {
  background-color: var(--main-hr-color);
  height: 4px;
  width: 50px;
}

.jumbotron {
  background-color: transparent;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

/*---- section-articles ----*/
#articles {
  background-color: #f4f6f3;
}

#articles h2 {
  text-transform: uppercase;
  color: var(--main-text-color);
}

#articles hr {
  background-color: var(--hr-color);
  width: 35px;
}

#articles > hr {
  height: 3px;
}

hr.card-title {
  height: 2px;
}

#articles .card {
  cursor: pointer;
}
/*---- section-articles ----*/

/*---- section-about ----*/
#about hr {
  background-color: var(--hr-color);
  width: 45px;
  height: 4px;
}
/*---- section-about ----*/

#subscribe {
  background-color: #E1E6E0;
}